<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Offence Tracker</title>
    <link rel="stylesheet" href="static\css\Contact.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        
        <a href="/contact">Contact Us</a> <!-- Added Contact Us link -->
    </div>
    <div class="container">
        <h1>Contact Us</h1>
        <div class="contact-card">
            <h2>Helpline Contacts for Various Crimes</h2>
            <ul class="helpline-list">
                <li><strong>Abuse:</strong> 123-456-7890</li>
                <li><strong>Arrest:</strong> 234-567-8901</li>
                <li><strong>Arson:</strong> 345-678-9012</li>
                <li><strong>Assault:</strong> 456-789-0123</li>
                <li><strong>Burglary:</strong> 567-890-1234</li>
                <li><strong>Explosion:</strong> 678-901-2345</li>
                <li><strong>Fighting:</strong> 789-012-3456</li>
                <li><strong>NormalVideos:</strong> 890-123-4567</li>
                <li><strong>RoadAccidents:</strong> 901-234-5678</li>
                <li><strong>Robbery:</strong> 012-345-6789</li>
                <li><strong>Shooting:</strong> 123-456-7890</li>
                <li><strong>Shoplifting:</strong> 234-567-8901</li>
                <li><strong>Stealing:</strong> 345-678-9012</li>
                <li><strong>Vandalism:</strong> 456-789-0123</li>
            </ul>
        </div>
    </div>
</body>
<footer>
    <p>&copy; Crime . All rights reserved.</p>
</footer>
</html>
