<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offence Tracker - A Crime Classification</title>
    <link rel="stylesheet" href="static/css/Main.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
    </div>
    <div class="container">
        <img src="static/images/115a335513ca9d9782cd89595835a1de.jpg" alt="Feature Image">
        <h1>Welcome to Offence Tracker</h1>
        <p>This is an introduction to the Crime Classification project.</p>
        <a href="/predict"><button class="btn">Try Our Crime Classifier</button></a> <!-- Linked to the Predict page -->
        <div class="feature">
            <img src="static/images/64e0b91655a399dd5f7b7528601fb4b7.jpg" alt="Feature Image">
            <h2>Types of crime to be detected</h2>
            <p>
            Assault: Threat of violence that puts someone in fear of harm
            <br>
            Explosion: A violent outward burst of energy, often accompanied by sound and light
            <br>
            Fighting: Physical conflict between two or more people
            <br>
            Shooting: Discharging a firearm
            <br>
            Stealing: Taking something that doesn't belong to you without permission   
            <br>
            Abuse is a broader term that encompasses other acts on your list, like assault and battery.
            <br>
            Arrest is a consequence, not a crime itself.
            <br>
            Arson is the criminal act of deliberately setting fire to property.
            <br>
            Burglary is the crime of entering a building illegally to commit a crime, typically theft.
            <br>
            Robbery is stealing by force or threat of force.
            <br>
            Shoplifting is stealing from a retail store.
            <br>
            Vandalism is the act of deliberately damaging or destroying property.
            <br>
            NormalVideos and RoadAccidents are not crimes.
            </p>
        </div>
    </div>\
    <footer>
        <p>&copy; Crime vision . All rights reserved.</p>
    </footer>
</body>
</html>
